BOT_TOKEN=your_telegram_bot_token_here
RAMAZON_API_URL=http://94.158.51.173:8080/ramazon/ramazon.php
DEFAULT_CITY_KEY=toshkent
NODE_ENV=production
TYPEORM_SYNCHRONIZE=false
API_TIMEOUT_MS=15000
API_RETRY_COUNT=3
API_RETRY_DELAY_MS=700
